<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>3 Most Important Things</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="{% static "components/platform/platform.js" %}"></script>
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <link rel="import" href="{% static "components/font-roboto/roboto.html" %}">
    <link rel="import" href="{% static "components/core-header-panel/core-header-panel.html" %}">
    <link rel="import" href="{% static "custom/register-form.html" %}">
</head>
<body unresolved touch-action="auto">
<core-header-panel>
    <core-toolbar>
        <div layout vertical center>
            <h1>Welcome to the 3 Most Important Things</h1>
        </div>
    </core-toolbar>

    <div class="container" layout vertical center>
        <h1>Register</h1>
        <register-form></register-form>
    </div>
</core-header-panel>
</body>
</html>